@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "pompador";
    src: url("../public/fonts/pompador.ttf");
  }
@font-face {
  font-family: "gordita";
  src: url("../public/fonts/Gordita-Bold.ttf");
  }
  @layer components {
  
    .contactInput{
      @apply outline-none bg-slate-400/10 rounded-sm border-b px-1 md:px-6 py-2 md:py-6 border-[#242424] text-gray-500 placeholder-gray-500 focus:border-orange-500/40 focus:text-orange-500/90 hover:border-orange-500/80 text-orange-500/70
    }
  }