@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "pompador";
    src: url("../public/fonts/pompador.ttf");
  }
@font-face {
  font-family: "gordita";
  src: url("../public/fonts/Gordita-Bold.ttf");
  }